[defaults]
inventory            = inventory/hosts.yml
stdout_callback      = yaml
retry_files_enabled  = False
display_skipped_hosts = False

[privilege_escalation]
become        = True
become_method = sudo
