[defaults]
inventory            = inventory/hosts.yml
stdout_callback      = yaml
retry_files_enabled  = False
display_skipped_hosts = False
vault_password_file  = .vault_pass

[privilege_escalation]
become        = True
become_method = sudo
